<ion-header>
</ion-header>

<ion-content >
 <ion-row style=" margin: auto;width: 95%;border-bottom:3px solid #c5c5c5;">
   	 <img src="img/homeicon.png" class="homeicon" (click)="backpage()"  />
     <img src="img/logoo.png" (click)="backpage()" class="logoimgicon" /></ion-row>
   <ion-list>
    <ion-item>
    <ion-row *ngFor="let d of data"  style="padding: 16px 0px;">
    <button ion-button full class="btn-profile" (click)="toggleDetails(d)" style="font-family:CenturyGothic;text-align:left!important;"><img [src]="d.img" class="img-icon">{{d.title}}</button>
    <div *ngIf="d.showDetails && d.details == 'Sound'" class="sound-div">
       <ion-row style="margin-top: 15px;">
     
         <ion-label style=" display:inline-table;">Notification Music </ion-label>
      <ion-list radio-group>
     <ion-item class="a">
        <ion-radio value="yes" (click)="notify_music(1)" *ngIf="sound_status == 1" checked></ion-radio>
        <ion-radio value="yes" (click)="notify_music(1)" *ngIf="sound_status != 1" ></ion-radio>
         <ion-label>Yes</ion-label>
        
     </ion-item>
     <ion-item  class="a">
         <ion-label>No</ion-label>
         <ion-radio value="No" (click)="notify_music(0)" *ngIf="sound_status == 0" checked></ion-radio>
        <ion-radio value="No" (click)="notify_music(0)" *ngIf="sound_status != 0"></ion-radio>
     </ion-item>
      </ion-list>
      </ion-row>
            <ion-row>
     
         <ion-label style=" display:inline-table;" >Enable Notification </ion-label>
      <ion-list radio-group >
     <ion-item class="a" >
        <ion-radio value="On" (click)="notify(1)" *ngIf="noti_status == 1" checked></ion-radio>
        <ion-radio value="On" (click)="notify(1)" *ngIf="noti_status != 1"></ion-radio>
         <ion-label>On</ion-label>
        
     </ion-item>
     <ion-item  class="a">
         <ion-label>Off</ion-label>
         <ion-radio value="Off" (click)="notify(0)" *ngIf="noti_status == 0" checked></ion-radio>
         <ion-radio value="Off" (click)="notify(0)" *ngIf="noti_status != 0"></ion-radio>
     </ion-item>
      </ion-list>
      </ion-row>
    </div>
    <div *ngIf="d.showDetails && d.details == 'password'" style="white-space:normal;">
      <ion-list>
   <ion-item>
    <ion-label color="primary"  class="label-accordian" >Current Password</ion-label>
    <ion-input  type="password" class="input-accordian" name="dataa.curntpass" [(ngModel)]="dataa.curntpass"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" class="label-acordian"  >New Password</ion-label>
    <ion-input type="password"  class="input-accordian" name="dataa.newpass" [(ngModel)]="dataa.newpass"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" class="label-acordian"  >Confirm New Password</ion-label>
    <ion-input type="password"  class="input-accordian" name="dataa.confnewpass" [(ngModel)]="dataa.confnewpass"></ion-input>
  </ion-item>
</ion-list>
<ion-row><button  ion-button full class="btn-update" (click)="updatepass(dataa.curntpass,dataa.newpass,dataa.confnewpass)">Update</button> </ion-row>
    </div>
    <div *ngIf="d.showDetails && d.details == 'vendor'" style="white-space:normal;" ></div>
    <div *ngIf="d.showDetails && d.details == 'logout'" style="white-space:normal;">
      <h1 style="margin-top:20px;font-size:20px;margin-left:24px;font-family:CenturyGothic;color:grey; text-align: center;">Do You Want to Logout of iScreamYay!?</h1>
      <ion-row><button  ion-button full class="btn-no" style="margin-bottom:-20px;color:grey;font-family:CenturyGothic;text-align: center;" (click)="notlogout()">No</button> </ion-row>
      <ion-row><button  ion-button full class="btn-no" (click)="logout()" style="color:grey;font-family:CenturyGothic;text-align: center;">Yes</button> </ion-row>
    </div>
    </ion-row>
    </ion-item>
    
  </ion-list>
</ion-content>
